.jumborton {
	font-style:italic;
	background-color: mediumseagreen;
	padding-left: 60px;
    padding-top: 20px;
	padding-bottom:20px;
	color: white;
    text-align: center;
} 
#tb {    
        border-style: none;
        width: 100%;
        text-align: center;
        background-color: mediumseagreen;
        color: white;
        font-style: italic;
}
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color: black;
    color: white;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation{
	  list-style-type: none;
      margin: 0;
      padding: 0;
	  overflow: hidden;
      background-color: mediumseagreen;
}

li a {
  display: block;
  color: white;
  padding: 7px;
  text-decoration: none;
  font-style: italic;
}

li{
	list-style-type:none;
	float: left;
	padding-left: 10px;
}

 li a:hover {
   background-color: mediumseagreen;
   }

.topnright{
	float: right;
	padding-right: 10px;
}

#rightbox, #leftbox{
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    float: right;
    margin: 10px;
    margin-top: 0%;
    width: 25%;
    height:280px; 
}
#leftbox{
    width: 60%;
    float: left; 
}

img{
    height:100%;
    width:100%;
    border-radius: 10%;
}